<h3>All Flights:</h3>
<ul>
  <% @flights.each do |flight| %>
  <section id='flight-<%= flight.id %>'>
    <li>Flight Number: <%= flight.number %></li>
      <ol>
      <p><% flight.passengers.each do |passenger| %></p>
        <section class='passenger-<%= passenger.id %>'>
          <li><%= passenger.name %></li><%= link_to 'Remove Passenger', "/flights/#{flight.id}/#{passenger.id}", method: :delete %>
        </section>
      <% end %>
      </ol>
  </section>
  <br>
  <% end %>
</ul>
